.card {
  border: 1px solid #d4d4d4;
  padding: 16px;
  width: 210px;
  border-radius: 16px;
  transition: border 0.3s ease-in-out, transform 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    border: 1px solid #4e6eff;
    transform: translateY(-5px);
  }

  .favorite {
    position: absolute;
    cursor: pointer;
  }

  h5 {
    font-weight: 400;
    font-size: 16px;
  }

  .cardBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_text {
      display: flex;
      flex-direction: column;
    }
  }
}

.button {
  background: #ffffff;
  border: 1px solid #d4d4d4;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
}
